
.head{
    color: red;
}
h2{
 color: red; 
 font-style: oblique;
}
.list{
    color: brown;
}
.font{
    font-style: italic;
}
.first{
    color: brown;
    letter-spacing: 7px;
}
p{
    color: brown;
}
.image{
    <link rel="NEW HOME" href="./268be02061a78cdf9ae1b83fdeb0ae44.jpg">
}
